* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#button-container {
    width: auto;
    height: 200px;
}
button {
    min-height: 250px;
    min-width: 250px;
}
.score {
    display: flex;
    justify-content: center;
    margin-top: 100px
}